<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact_style.css">
    <title>FORTY DAYS</title>
</head>
<body>
    <header>
        <!--image-->
        <label class="title">FORTY DAYS</label>
        <nav>
            <ul class="nav__links">
                <li><a href="/dashboard">Dashboard </a></li>
                <li><a href="/account">Account </a></li>
                <li><a href="/contact">Contact </a></li>
            </ul>
        </nav>
        <a class="logout" href="/logout"><button>Logout</button></a>
    </header>
    <main>
        <div class="container">
            <h1> Contact Information</h1><br>
            <div class="contact-info">
                <label>Email</label>
                <p>o.jikineh@mail.utoronto.ca</p><br>
                <label>Phone</label>
                <p>647-407-9518</p><br>
                <label>Address</label>
                <p> University of Toronto Scarborough 1265 Military Trail Toronto, ON Canada M1C 1A4</p><br>
            </div>




        </div>
    </main>
    
</body>
</html>