<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stats_style.css" />
    <title>FORTY DAYS</title>
</head>
<body>
    <div class="div">
        <button id="button"> PUSH </button>
    </div>
    <div id="p"></div>


    <script src="/js/stats.js"></script>
</body>
</html>